//@import "~@ng-select/ng-select/themes/default.theme.css";

.estilo_div {
  /*background:#ff6600;*/
  border: solid 1px #ccc;
  border-radius: 10px;
  margin: 1mm;
}

.estilo_sub_div {
  /*background:#ff6600;*/
  border: solid 1px #f3efff;
  border-radius: 10px;
  margin: 1mm;
  padding: 10px;
}
