<div class="modal-header text-center " style=" background-color: #34495E; ">
    <h4 class="modal-title pull-left" style=" color:#fff; margin: 10px;"> {{title_modal}} </h4>
    <div class="pull-right">
      <button type="button" class="btn btn-danger" title="Cerrar" (click)="modalRef.hide();">
        <span class="fa fa-times-circle"></span>
      </button>
    </div>
  </div>
  
  <div class="modal-body" *ngIf="modalTipo === 'terminarIncapacidad'">
    <dln-terminar-incapacidad (closeModal)="closeModal($event)" [currentIncapacidad]="currentIncapacidad"> </dln-terminar-incapacidad>
  </div>
  
  <div class="modal-body" *ngIf="modalTipo === 'detalleInca'">
    <dln-detalles-incapacidad (closeModal)="closeModal($event)" [currentIncapacidad]="currentIncapacidad"></dln-detalles-incapacidad>
  </div>
  
  <div class="modal-body" *ngIf="modalTipo === 'addInca'">
    <dln-anadir-incapacidad (closeModal)="closeModal($event)" [currentIncapacidad]="currentIncapacidad"> </dln-anadir-incapacidad>
  </div>
  
  <div class="modal-body" *ngIf="modalTipo === 'ver_incapacidad'">
    <dln-anadir-incapacidad (closeModal)="closeModal($event)" [currentIncapacidad]="currentIncapacidad" [currentdetalle_inca]="currentdetalle_inca"> </dln-anadir-incapacidad>
  </div>