<button nbButton size="tiny" title="Finalizar" hero status="danger" (click)="terminarInca()"
  *ngIf="this.params.data.estatus_inca == 'activa'">
  <nb-icon icon="calendar-times"></nb-icon>
</button> &nbsp;

<button nbButton size="tiny" title="Agregar incapacidad" hero status="warning" (click)="detIncapacidad()" >
  <nb-icon icon="info-circle"></nb-icon>
</button> &nbsp;

<button nbButton size="tiny" title="Añadir Incapacidad" hero status="primary" (click)="addInca()"
  *ngIf="this.params.data.estatus_inca == 'activa'">
  <nb-icon icon="calendar-plus"></nb-icon>
</button> &nbsp;

<!-- <button nbButton size="tiny" title="Detalles Incapacidad" hero status="warning" (click)="detalleIncapacidad()">
  <nb-icon icon="info-circle"></nb-icon>
</button> &nbsp; -->
