<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <dln-profit-card></dln-profit-card>
      </div>
      <div class="col-md-6">
        <dln-earning-card></dln-earning-card>
      </div>
    </div>

    <dln-traffic-reveal-card></dln-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <dln-ecommerce-charts></dln-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <dln-country-orders></dln-country-orders>
  </div>

  <div class="col-xxl-3">
    <dln-progress-section></dln-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <dln-ecommerce-visitors-analytics></dln-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <dln-user-activity></dln-user-activity>
  </div>
</div>
