<nb-card size="medium">
  <nb-card-header>
    <h3>Visitors Analytics</h3>
    <div class="subtitle">Consumption</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <dln-legend-chart [legendItems]="chartLegend"></dln-legend-chart>
      </div>
      <dln-visitors-analytics-chart [chartData]="visitorsAnalyticsData"></dln-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <dln-slide-out [showVisitorsStatistics]="true">
    <dln-visitors-statistics [value]="pieChartValue"></dln-visitors-statistics>
  </dln-slide-out>
</nb-card>
